# Laravel
/vendor/
/node_modules/
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.swp
*.swo

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.quasar/
frontend/.nuxt/
frontend/.output/

# Backend
backend/vendor/
backend/node_modules/
backend/.env
backend/storage/*.key
backend/storage/logs/*
!backend/storage/logs/.gitkeep

# Database
*.sqlite
*.db

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Compiled
*.cache
*.min.css
*.min.js
